@import '../../styles/variables';

.about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .loading,
  .error,
  .no-data {
    text-align: center;
    font-size: 1.125rem;
    color: $color-secondary;
  }
  // Responsive spacing
  @media (max-width: $breakpoint-mobile) {
    padding: 1rem 1rem;
    gap: 1.5rem;
  }
}

.about .collapse {
  max-width: 1024px; // ajuste selon la maquette
  margin: 0 auto;   // centre les collapses dans la page
}
