@import '../../styles/variables.scss';

.about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  font-family: $font-family-base; 

  .loading,
  .error,
  .no-data {
    text-align: center;
    font-size: 1.125rem; 
    color: $color-secondary; 
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 1rem; 
    gap: 1.5rem;   
  }
}

.about .collapse {
  max-width: 1024px; 
  margin: 0 auto;
}
