@import '../../styles/variables.scss';

.rating {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: $font-family-base;
}

.star {
  width: 16px;
  height: 16px;
  object-fit: contain;

  @media (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
