@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


$font-family-base: 'Montserrat', sans-serif;

// 🎨 Couleurs principales
$color-primary: #ff6060;
$color-secondary: #000000;
$color-tertiary: #ffffff; 

// 📱 Breakpoints
$breakpoint-desktop: 1440px;
$breakpoint-mobile: 375px;
