@import '../../styles/variables.scss';

.home {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 100px;

  @media screen and (max-width: 768px) {
    padding: 20px;
    gap: 30px;
  }

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px;
  padding: 50px;
  background-color: #f6f6f6;
  border-radius: 25px;

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    padding: 40px;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    padding: 25px 15px;
  }
}


}
