@import '../../styles/variables.scss';

.host {
  display: flex;
  align-items: center;
  justify-content: flex-end; // mobile : aligné à droite
  gap: 20px;
  font-family: $font-family-base;

  @media (min-width: 768px) {
    justify-content: flex-start; // desktop : s'aligne à gauche dans le space-between
  }

  @media (max-width: 767px) {
    flex-direction: row; // mobile : image à droite, nom à gauche
  }
}

.host-name {
  font-size: 14px;
  font-weight: 500;
  color: $color-primary;
  text-align: right;
  max-width: 80px;
  line-height: 1.2;
  white-space: pre-line; // permet les sauts de ligne avec \n

  @media (min-width: 768px) {
    text-align: left; // sur desktop, optionnel selon ton design
  }
}

.host-picture {
  width: 64px;
  height: 64px;
  min-width: 64px; // évite l'écrasement si flex-shrink intervient
  object-fit: cover;
  border-radius: 50%;
  background-color: lighten($color-secondary, 70%);

    @media (max-width: 768px) {
     width: 48px;
    height: 48px;
    min-width: 48px;
  }
}
