@import '../../styles/variables';

.banner {
  position: relative;
  width: 100%;
  height: 223px;
  border-radius: 1rem;
  overflow: hidden;

  .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
    display: block;
  }

  .banner-text {
    position: absolute;
    color: $color-tertiary;
    font-size: 2rem;
    font-weight: 500;
    left: 1rem;
    bottom: 1.5rem;
    z-index: 2;

    @media (max-width: $breakpoint-mobile) {
      font-size: 1.2rem;
      left: 0.5rem;
      bottom: 1rem;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    height: 111px;
    border-radius: 0.5rem;
  }
}
