@import '../../styles/variables.scss';

.error {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 62vh;
  padding: 3rem;
  font-family: $font-family-base;
  color: $color-primary;

  &__code {
    font-size: clamp(5rem, 20vw, 13rem);
    font-weight: 700;
    margin: 0;
  }

  &__message {
    font-size: clamp(1rem, 2.5vw, 1.7rem);
    margin: 0;

    span {
      display: inline-block;
    }
    span + span {
      margin-left: 0.5ch;
    }
  }

  &__link {
    color: $color-secondary !important;
    font-size: clamp(0.95rem, 2vw, 1rem);
    text-decoration: underline;
    margin: 0;

    &:hover {
      color: darken($color-primary, 50%);
    }
  }
}
